extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if isLoggedIn
    .new-question
      a(href="/questions/new"): button#ask-question Ask A Question
  include questions.pug
