doctype html
html
  head
      block head
        title= title
        script(src='../javascripts/index.js')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/extra.css')
        link(rel='stylesheet' href='/stylesheets/myanswers.css')
        link(rel='icon' href='/icons/favicon.ico' type='image/x-icon')
  body
    header
      nav#top-nav
        #logo
          a(href="/")
            //- Source of icon design: https://fontawesome.com/v5/icons/images?s=regular, https://fontawesome.com/icons/face-grin-squint-tears?s=regular
            img(src="/icons/meme-overflow-icon.svg", alt="Meme Overflow")
          h1 MemeOverflow
        #search-bar
          form(action="/search", method="get")
            input(type="text" name="search_keyword" id="search_keyword" required)
            button(type="submit") Search
            //a(href=`/search/:search_keyword`): button Search
            //how to link input to the form
            //how to get rid of the "?"

        #auth-buttons
          if isLoggedIn
            form(action="/logout" method="post")
              #logout: button(type="submit") Log Out
          else
            #login: a(href="/login"): button Log In
            #sign-up: a(href="/signup"): button Sign Up
    main
      #left-column
        include left-column.pug
      #main-column
        block content
      #right-column
       include right-column.pug
    footer
        include footer.pug
