extends layout-minimal.pug
include utils.pug
block content

    #login-form
        form(action="/login", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            .form-group
                label(for="email") Email:
                input(type="email" name="email" id="email" required value=email)
            .form-group
                label(for="password") Password:
                input(type="password" name="password" id="password" required)
            +errorBlock(errors)
            button(type="submit") Log In
        form(action="/login-demo" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit" class="demo-user-button") Demo User
        #redirect
            p: a(href="/signup") Don't have an account?
