extends layout.pug
include utils.pug
block content
    +errorBlock(errors)
    div#loginForm
        form#sighnInForm(action="/login", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Email:
            input(type="email" name="email" id="email" required value=user.email)
            label(for="password") Password:
            input(type="password" name="password" id="password" required)
            button(type="submit") Log In
        form(action="/login-demo" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit") Demo User
        div
            p: a(href="/signup") Don't have an account?
