#creators
    if isLoggedIn
        #groutInformation
            .adamBox: h3 Adam Tang
                a(href="https://github.com/adamtang5")
                    .box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .crystalBox: h3 Crystal Chavez
                a(href="https://github.com/crystalchavez99")
                    .crystal-box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .kikiBox: h3 Kicky Lau
                a(href="https://github.com/kickylau")
                    .kiki-box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .katBox: h3 Kateryna Tsymbal
                a(href="https://github.com/TKat72")
                    .kat-box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
