#creators
    if isLoggedIn
        #groutInformation
            .adamBox: h3 Adam
                a(href="https://github.com/adamtang5")
                    .box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .crystalBox: p Crystal
                a(href="https://github.com/crystalchavez99")
                    .crystal-box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .kikiBox: p Kiki
                a(href="https://github.com/kickylau")
                    .box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
            .katBox: p Kat
                a(href="https://github.com/TKat72")
                    .box-div
                        img(src="/icons/githubLogo.png", alt="github")
                        h3 github
