extends layout-minimal.pug
include utils.pug
block content
    #signup-form
        form(action="/signup", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            .form-group
                label(for="username") Username:
                input(type="text" name="username" id="username" required value=username)
            .form-group
                label(for="email") Email:
                input(type="email" name="email" id="email" required value=email)
            .form-group
                label(for="password") Password:
                input(type="password" name="password" id="password" required)
            .form-group
                label(for="confirmPassword") Confirm Password:
                input(type="password" name="confirmPassword" id="confirmPassword" required)
            +errorBlock(errors)
            button(type="submit") Sign Up
        #redirect
            p: a(href="/login") Already have an account?
