extends layout.pug
include utils.pug
block content
    +errorBlock(errors)
    form(action="/signup", method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="username") Username:
        input(type="text" name="username" id="username" required value=user.username)
        label(for="email") Email:
        input(type="email" name="email" id="email" required value=user.email)
        label(for="password") Password:
        input(type="password" name="password" id="password" required)
        label(for="confirmPassword") Confirm Password:
        input(type="password" name="confirmPassword" id="confirmPassword" required)
        button(type="submit") Sign Up
    div
        p: a(href="/login") Already have an account?
