body {
    max-width: 1000px;
    margin: 0 auto;
}

header,
main,
footer {
    margin: 0 40px;
}

h1 {
    color: #555555;
}

a {
    text-decoration: none;
}

#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#logo img {
    width: 48px;
    height: 62px;
    filter: invert(71%) sepia(62%) saturate(5581%) hue-rotate(337deg) brightness(101%) contrast(102%);
}

#search-bar {
    width: 400px;
    height: 30px;
    background-color: aquamarine;
    border: 2px solid blue;
}

#auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-areas: "left main right";
}

main #left-column {
    grid-area: left;
}

main #main-column {
    grid-area: main;
}

main #right-column {
    grid-area: right;
}

.default-avatar {
    width: 100px;
    height: 100px;
    filter: invert(87%) sepia(0%) saturate(1%) hue-rotate(5deg) brightness(86%) contrast(94%);
}

#questions-container .question-card {
    box-sizing: border-box;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 1px 10px 10px 15px;
    position: relative;
    color: white;
}

.question-card .question-edit-delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.question-card > a {
    top: 10px;
    left: 10px;
}

#questions-container .color-0 {
    background-color: #c95844;
    box-shadow: 5px 5px 5px #cf8578;
}

#questions-container .color-1 {
    background-color: #30aac9;
    box-shadow: 5px 5px 5px #73c2d6;
}

#questions-container .color-2 {
    background-color: #c93a43;
    box-shadow: 5px 5px 5px #cf797f;
}

#questions-container .color-3 {
    background-color: #875f3a;
    box-shadow: 5px 5px 5px #a3876d;
}

#questions-container .color-4 {
    background-color: #469b5b;
    box-shadow: 5px 5px 5px #79b187;
}

.question-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.question-author .avatar,
.question-author .default-avatar {
    width: 15px;
    height: 15px;
}



.single-answer .vote {
    grid-area: vote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.vote .vote-button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.vote .vote-placeholder {
    height: 50px;
}

.upvote img,
.downvote img {
    width: 60px;
    opacity: 60%;
}

.upvote img:hover,
.downvote img:hover {
    cursor: pointer;
}

.upvote img.voted,
.downvote img.voted {
    opacity: 100%;
}

.vote-count {
    font-size: 35px;
    color: #aaa;
}

.single-answer .answer-content {
    grid-area: answer-content;
}

.modal{
    display: none;
}




/* answer */
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid gray;
    width: 100%;
}
#logout{
    border-radius: 28px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#left-column{
    border-right: 5px solid gray;
}

#right-column{
    border-left: 5px solid gray;
}

#question-container{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cf8578;
    background-color: #c95844;
    color:white;
    margin: 25px;
    padding: 1px 10px 10px 15px;
    position: relative;
    box-sizing: border-box;
}

.single-answer .answer-title{
    font-weight: bold;
}

.answer-meme img {
    width: 450px;
    margin: 10px;
    border-radius: 10px;
}

.single-answer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "vote answer-content";
    border: 1px solid black;
    padding: 1px 10px 10px 15px;
}
#comment-container{
    width: 100%;
}
.single-comment{
    border: 1px solid black;
}
