/* General Styles */
body {
    max-width: 1000px;
    margin: 0 auto;
}

header,
main,
footer {
    margin: 0 40px;
}

h1 {
    color: #555555;
}

a {
    text-decoration: none;
}

#prominent.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    line-height: 50px;
}

#prominent.top #logo > img {
    width: 100px;
    height: 100px;
}

#prominent.top h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #ff6c37;
    align-self: center;
    letter-spacing: -4px;
}

#login-form,
#signup-form {
    width: 600px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 0 auto;
    padding: 40px 200px;
}

#login-form input,
#signup-form input {
    margin-bottom: 20px;
}

#signup-form label,
#signup-form button,
#login-form label,
#login-form button {
    margin-bottom: 10px;
}

.form-group * {
    display: block;
}

#login-form #errors,
#signup-form #errors {
    margin-left: 2px;
    margin-bottom: 25px;
}

#errors li {
    font-size: 11px;
    color: red;
    list-style: none;
    margin-bottom: 5px;
}

#redirect p * {
    font-size: 14px;
    color: #ff6c37;
}

/* Top Nav Styles */
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#top-nav #logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

#top-nav #logo h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #ff6c37;
    align-self: center;
    letter-spacing: -4px;
    padding-bottom: 10px;
}

#logo img {
    width: 48px;
    height: 62px;
    filter: invert(71%) sepia(62%) saturate(5581%) hue-rotate(337deg) brightness(101%) contrast(102%);
}


#auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

/* Main Styles */
main {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-areas: "left main right";
    /* background-color: rgb(232, 232, 232); */
    /* box-shadow: 5px 4px 1em rgb(187, 181, 181), -1em 0 1em rgb(194, 194, 190); */
}

main #left-column {
    grid-area: left;

}

p a:hover{
    opacity: .5;
}

main #main-column {
    grid-area: main;
}

main #right-column {
    grid-area: right;
    border-left: 5px solid gray;
}

#left-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#right-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#left-column #avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#left-column #avatar img {
    height: 70px;
    width: 70px;
}


.default-avatar {
    filter: invert(87%) sepia(0%) saturate(1%) hue-rotate(5deg) brightness(86%) contrast(94%);
    border-radius: 50px;
    box-shadow:5px 5px 0.7em #D0D0D0;

}

#avatar .username {
    font-weight: bold;
    font-size: 12px;
}

#avatar .user-since {
    font-weight: 400;
    font-size: 10px;
}

#left-column #greeting {
    padding: 0 5px;
    font-size: 18px;
}

ul#user-links {
    list-style-type: none;
}

#user-links li {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    line-height: 30px;
    padding-left: 20px;
}

#user-links #my-questions {
    background-color: #c93a43;
    box-shadow: 5px 5px 5px #cf797f;
}

#user-links #my-answers {
    background-color: #469b5b;
    box-shadow: 5px 5px 5px #79b187;
}

#user-links #my-comments {
    background-color: #30aac9;
    box-shadow: 5px 5px 5px #73c2d6;
}

/* Main Column Styles */
#main-column #main-column-nav {
    font-size: 10px;
    padding: 0 10px;
}

#main-column #user-card {
    padding-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
}

#main-column #user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#main-column #user-card .avatar {
    width: 100px;
    height: 100px;
}

#user-card .username {
    font-size: 36px;
}

#user-card .user-likes {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
}

.user-likes .point-icon,
.user-likes .like-icon {
    height: 15px;
    width: 15px;
}

#main-column h2 {
    margin-bottom: 20px;
    padding-left: 10px;
}

#main-column #container-header {
    margin-bottom: 20px;
    padding-left: 10px;
}

#questions-container .question-card {
    box-sizing: border-box;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 1px 10px 10px 15px;
    position: relative;
    color: white;
}

.question-card .question-edit-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}

.question-edit-delete .question-edit {
    width: 15px;
    height: 15px;
}

.question-edit-delete .question-delete {
    position: relative;
    width: 11px;
    height: 11px;
    top: -3px;
}

.question-card > a {
    top: 10px;
    left: 10px;
}

#questions-container .color-0 {
    background-color: #c95844;
    box-shadow: 5px 5px 5px #cf8578;
}
#questions-container .color-0:hover{
    background-color:#cf8578;
    box-shadow: 5px 5px 5px #c95844;
}
#questions-container .color-1 {
    background-color: #30aac9;
    box-shadow: 5px 5px 5px #73c2d6;
}
#questions-container .color-1:hover{
    background-color:#73c2d6;
    box-shadow: 5px 5px 5px #30aac9;
}
#questions-container .color-2 {
    background-color: #c93a43;
    box-shadow: 5px 5px 5px #cf797f;
}
#questions-container .color-2:hover{
    background-color:#cf797f;
    box-shadow: 5px 5px 5px #c93a43;
}
#questions-container .color-3 {
    background-color: #875f3a;
    box-shadow: 5px 5px 5px #a3876d;
}
#questions-container .color-3:hover{
    background-color:#a3876d;
    box-shadow: 5px 5px 5px #875f3a;
}
#questions-container .color-4 {
    background-color: #469b5b;
    box-shadow: 5px 5px 5px #79b187;
}
#questions-container .color-4:hover{
    background-color:#79b187;
    box-shadow: 5px 5px 5px  #469b5b
}
.question-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

#main-column #questions-container .avatar {
    width: 15px;
    height: 15px;
}

.answer-meme img {
    width: 450px;
}
.new-question{
    display: flex;
    width: 400px;
    justify-content: end;

    }
#ask-question{
    background-color: #cacaca;
    height: 20px;
    border-radius: 9px;
    color: black;
    border: rgb(138, 138, 138);
    width: 120px;
    box-shadow: 2px 2px 1em gray;
    margin: 5px;
    }
button{
    background-color: #cacaca;
    height: 20px;
    border-radius: 9px;
    color: black;
    border: rgb(138, 138, 138);
    box-shadow: 2px 0px 0.4em gray;
    margin: 5px;
}
button:hover{
 background-color: gray;

}
.single-answer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "vote answer-content";
}

.single-answer .vote {
    grid-area: vote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.vote .vote-button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.vote .vote-placeholder {
    height: 50px;
}

.upvote img,
.downvote img {
    width: 60px;
    opacity: 60%;
}

.upvote img:hover,
.downvote img:hover {
    cursor: pointer;
}

.upvote img.voted,
.downvote img.voted {
    opacity: 100%;
}

.vote-count {
    font-size: 35px;
    color: #aaa;
}

.single-answer .answer-content {
    grid-area: answer-content;
}

.modal{
    display: none;
}


/* Right Column Styles */




/* answer */
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid gray;
    width: 100%;
}

#logout{
    border-radius: 28px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#left-column{
    border-right: 5px solid gray;
}

#avatar{
    margin-top: 10px;
}

#main-column{
    margin: 10px;
}


#right-column{
    border-left: 5px solid gray;
}

.new-question{
    margin: 10px;
    display: flex;
    justify-content: center;
}
#question-container{
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cf8578;
    background-color: #c95844;
    color:white;
    margin: 25px;
    padding: 1px 10px 10px 15px;
    position: relative;
    box-sizing: border-box;
}

.single-answer .answer-title{
    font-weight: bold;
    font-size: x-large;
}
.single-comment .delete, .single-comment .edit{
    opacity: .5;
}
.answer-meme img {
    width: 450px;
    margin: 10px;
    border-radius: 10px;
}

.single-comment{
    margin: 10px;
    background-color: lightgray;
}
.single-answer, .single-comment {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "vote answer-content";
    padding: 1px 10px 10px 15px;
    border-radius: 25px;
}
#comment-container{
    width: 100%;
}


/* Footer styles */
#project-info #project-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-icons {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.footer-icons-2 {
    height: 30px;
    width: 23px;
}

.footer-icons-wide {
    height: 30px;
    width: 40px;
}

.footer-icons-wider {
    height: 30px;
    width: 54px;
}

#project-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
