/* #sighnInForm{
 display: flex;
 flex-direction: column;
 align-items: center;
*/
#main-column{

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.crystalBox,
.kikiBox,
.katBox,
.adamBox{
  height: 130px;
  width: auto;
  border-color: #30aac9;
  background-color: rgb(238, 231, 222);
  border-radius: 8px;
  margin: 15px;

}

 #answersImg{
 width: 450px;
 margin-left: 40px;
 margin-right: 10px;
 border-radius: 10px;
 }
.forAnswers{
  margin-left: 10px;
}
#div-question-form{

  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 8px;
  padding: 10px;
  background-color:#cf8578;
  box-shadow: 5px 5px 5px #c95844;
}
#div-question-form textarea, #div-question-forminput{
  width: 270px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

}
#submit-question-form:hover{
  background-color: #79b187;
}
.question-delete-div{
  margin: 30px;
  border: 3px solid #cccccc;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}
.delitingform{
  margin-top: 100px;
  width: 350px;
  border-radius: 8px;
  background-color:#cf8578;
  box-shadow: 5px 5px 5px #c95844;

}
.conformationMasage{
text-align: center;
border-radius: 20px;
color: black;

}

#delete-button-form{
  background-color: #c95844;

}
#delete-button-form:hover{
  background-color: #79b187;
}
.buttons-deleting-form{
  margin-left: 20px;

}
#newanswer , .newcomment{

height: 30px;
width: 100px;
background-color: #cacaca;
border-radius: 9px;
color: black;
border: rgb(138, 138, 138);
box-shadow: 2px 0px 0.4em gray;
margin: 5px;
}
#newanswer:hover{
  background-color: gray;

 }
.edit, .delete{
  text-align: center;
  background-color: #cacaca;
  border-radius: 9px;
  color: black;
  border: rgb(138, 138, 138);
  box-shadow: 2px 0px 0.4em gray;
  margin: 5px;
 font-size: small;
 padding:5px;
}
.edit:hover, .delete:hover{
  background-color: gray;
}
.answer-buttons{
  display: flex;
  flex-direction: row;
}
.delete{
  width: 50px;
}
.edit-answer-form,.edit-comment-form{
  background-color: #c95844;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 100px;
  border-radius: 8px;
  padding: 10px;
  background-color:#cf8578;
  box-shadow: 5px 5px 5px #c95844;
}
.edit-answer-form input{
  width: 270px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}
#edit-answer-cencel-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
  border-radius: 10px;
  color: black;
  border: rgb(138, 138, 138);
  box-shadow: 2px 0px 0.4em gray;
  margin: 5px;
 font-size: small;
 padding:5px;
 height: 20px;
 width: 4rem;
}
.edit-answer-btns, .edit-comment-btns{
  display: flex;
  flex-direction: row;
}
#comment-cencel-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
  border-radius: 10px;
  color: black;
  border: rgb(138, 138, 138);
  box-shadow: 2px 0px 0.4em gray;
  margin: 5px;
 font-size: small;
 padding:5px;
 height: 20px;
 width: 4rem;
}

 .box-div,
 .crystal-box-div,
 .kiki-box-div,
 .kat-box-div{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#groutInformation img{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#groutInformation h3{
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
