/* #sighnInForm{
 display: flex;
 flex-direction: column;
 align-items: center;

}
#login{
  border-radius: 8px;
  width: 300px;
}
.email{
 width: 200px;
}
#sighnInForm label{
   padding: 20px;

}
#sighnInForm input{
 border-radius: 5px;
} */
#main-column{

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}
.crystalBox,
.kikiBox,
.katBox,
.adamBox{
  height: 100px;
  width: auto;
  border-color: #30aac9;
  background-color: rgb(238, 231, 222);
  border-radius: 8px;
  margin: 15px;

}
 .katBox{
   background-color: gray;
 }
 #answersImg{
 width: 450px;
 margin-left: 40px;
 margin-right: 10px;
 border-radius: 10px;
 }
.forAnswers{
  margin-left: 10px;
}
#div-question-form{

  display: flex;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 8px;
  padding: 10px;
  background-color:#cf8578;
  box-shadow: 5px 5px 5px #c95844;
}
#div-question-form textarea, #div-question-forminput{
  width: 270px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;

}
#submit-question-form:hover{
  background-color: #79b187;
}
.question-delete-div{
  margin: 30px;

  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}
.delitingform{
  margin-top: 100px;
  width: 350px;
  border-radius: 8px;
  background-color:#cf8578;
  box-shadow: 5px 5px 5px #c95844;

}
.conformationMasage{
text-align: center;
border-radius: 20px;
color: black;

}

#delete-button-form{
  background-color: #c95844;

}
#delete-button-form:hover{
  background-color: #79b187;
}
.buttons-deleting-form{
  margin-left: 20px;

}
