extends ../layout.pug

block content
    form#question-form(action="/questions/new", method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="title") Title:
        input(type="text" name="title" id="title" required value=question.title)
        label(for="description") Description:
        textarea(name="description" id="description" row="3" required value=question.description)
        button(type="submit") Submit
    div
