extends ../layout.pug

block content
    #question-container
        div(id=`question-${question.id}`)
            .question-title: p= question.title
            .question-description: p= question.description
            //- if question.unlocked
            //-     a(href=`/questions/${question.id}/edit`): button Edit
            //-     a(href=`/questions/${question.id}/delete`): button Delete
