extends ../layout.pug
include ../utils.pug
block content
    div.delitingform
        div.question-delete-div(id=`question-${question.id}`)
            .question-title: p= question.title
            .question-description: p= question.description
        p.conformationMasage Are you sure you want to delete your question?
        form.response(action=`/questions/${question.id}/delete` method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            .buttons-deleting-form
                button(type="submit" id="delete-button-form") Delete
                a(href="/"): button#cencel-button-form Cancel
